:root{
  --yellow :#fcda31;
  --white : rgb(255, 255, 255);
  --gray-claro: #ebebebaf;
  --gray-oscruro:#f1efef;
  --Azul: rgb(59, 59, 245);
}

body{ 
  margin: 0px;
  padding: 0px;
}

/*Contenedor principal seccion busqueda*/
.nav-search{
  background-color: var(--yellow);
  display: flex;
  padding: 18px 18% 18px 18%;
}

/*contenedores secundarios seccion busqueda*/

.nav-search-img{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 23%;
}

.nav-search-ford{
  align-items: center;
  display: flex;
  width: 80%;
}

/*Logo principal*/

.mercadoLibre-img{
  width: 100px !important;;
  padding-right: 20px;
}

/*Formulario*/

.nav-search-f{
  width: 90%;
}

.nav-search-input{
  border: 1px solid var(--gray);
  border-radius: 2px;
  height: 25px;
  width: 90% !important;
}

.nav-search-btn{
  height: 25px;
}

button{
  border: 1px solid var(--gray);
  width: 35px;
}

button:hover {
  background-color: var(--gray-oscruro);
  cursor: pointer;
}

.Breadcrumb{
  background-color: var(--gray-oscruro);
}
/******Cuerpo****/
section{
  margin: 0 18% 0 18%;
}

.container-section{
  border: 1px solid rgb(247, 247, 250); 
  margin: 2px;
}

.container-body:hover {
  box-shadow: 0px 0px 10px rgb(56, 56, 56);
}

.section-imag:hover{
  cursor: pointer;
}


.container-body{
  align-items: center;
  background-color: var(--white);  
  border: 1px solid;
  border-color: var(--gray-claro);
  border-radius: 5px;
  display: flex;
  padding: 8px;  
  width: 100%;
}



.section-imag{
  width: 20%;
}

.section-descripcion{
  padding: 10px;
  width: 55%;
}

.section-descripcion .letter-title{
  font-size: 15px;
}

.section-cliente{
  width: 25%;
}

.section-cliente .letter-inf{
  font-size: 10px;
  text-align: center;
}

.section-imag img{
  height: 100%;
  width: 100%;
}


/***************Detalle del producto***************/


.Container-detalle-Produt{
  border: 1px solid var(--gray-claro);
  display: flex;
  padding-bottom: 8%;
  margin: 5% 22% 0 22%;
}

.container-detalle-descripcion{
  border: 1px solid var(--gray-claro);
  margin: 0 22% 0 22%;
}

.container-detalle-img{
  width: 65%;
}

.container-detalle-titulo-precio {
  padding-top: 10px;
  width: 35%;
}

.container-detalle-titulo-precio p{
  font-size: 12px;
}

.container-img img{
  width: 90%;
}

.container-detalle-precios{
  display: flex;
}

.container-detalle-precios h5 {
  margin-top:4px;
  padding-left: 3px;
}

.container-detalle-titulo-precio button {
  border-radius: 5px;
  background-color: var(--Azul);
  color: var(--white);
  height: 40px;
  margin-top: 25px;
  width: 80%;
}
/**************FOOTER**************/

footer {
  background-color: white;
}

.container{
  display: flex;
}

.info-slide {
  text-align: center;
  padding: 40px 40px 10px 40px;
}

.img-container {
  padding-bottom: 10px;
}

.fa-credit-card:hover::before {
  color: #0022aa;
}

.fa-gift:hover::before {
  /*color de los iconos del footer*/
  color: #0022aa;
}

.fa-user-shield:hover::before {
  color: #0022aa;
}

.titulo-footer {
  color: #666;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: bold;
  margin-block: auto;
}

.descripcion-footer {
  color: #727171;
  font-family: 'Montserrat';
  margin-top: 1px;
  padding-top: 1px;
}

.final-footer {
  color: #727171;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 23px;
}