.breadcrumb {
    align-items: center;
    background-color: var(--gray-claro);
    display: flex;
    height: 50px;  
    padding-left: 18%;
        p{
            color: var(--gray-letter);
            font-size: 12px;
        }
}