
.contenedores-body{
    .Container-general{ 
        background-color: var(--gray-claro);
        padding: 0px 18% 3px 18%;
            .contenainer-body-principal{
                display: flex;
                .contenainer-products-principal{
                    display: flex;
                    background-color: white;
                    border: 1px solid var(--gray-oscuro);
                    width: 100%;
                    .section-imag{
                        width: 30%;
                        img{
                            padding: 8px;
                            width: 90%;
                        }
                    }
                    .section-descripcion{
                        padding: 12px;
                        padding-right: 65px;
                        width: 55%;

                        .letter-prince {
                            font-size: 18px;
                            margin: 0px;
                            padding-top: 15px;
                        }
                        
                        .letter-title {
                            font-size: 15px;
                            padding: 5px;
                        }

                    }
                    .section-cliente{
                        width: 25%;

                        .letter-inf {
                            color: var(--gray-letter);
                            font-size: 10px;
                            padding-top: 35px
                        }
                    }
                }
                .contenainer-products-principal:hover{
                    box-shadow: 0px 0px 10px rgb(56, 56, 56);
                }
            }
    }
}